img{
  border-radius: 50%;
}

.navbar-header{
  margin-left:5px;
  width:100%;
}
@media (max-width: 576px) {
  .nav-item{
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  .nav-item{
    margin-right: 10px;
  }
 }
