body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

#navbar{
  font-family: 'Roboto', sans-serif;
}

.nav-img{
  border-radius: 50%;
}

.navbar-header{
  margin-left:5px;
  width:100%;
}
.btn-outline-primary{
  color: #212529;
}
.btn0{
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 576px) {
  .nav-item{
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  .nav-item{
    margin-right: 10px;
  }
 }

 /* accountings */
#accountings{
  margin-bottom: 10%;
}
.container{
  background-color: #A683E3;
}
 .box {
  max-width: 675px;
  height: 60px;
  padding: 4px;
  margin: 60px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.acc-padding{
  padding-left: 15%;
  padding-right: 15%;
}
.acc-box{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#heading {
  background-color: white;
  text-align: center;
  font-family: 'helvetica neue';
  color: #0062E6;
}

.item {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  background-color: white;
}


form.item {
  text-align: center;
  margin-left: 20px;
}
.pad{
  margin-top: 15px;
}
.acc-btn {
  margin-left: 10px;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #0062E6;
  color: #fff;
  font-size: 20px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  margin-left: 5px;
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width:80%;
}
input[placeholder="Username"]{
  margin-left: 3px;
  width: 60%;
}
input[placeholder="Amount"]{
  margin-right: 5px;
  width: 40%;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}
.username{
  width: 200px;
  margin-bottom: 0;
}
.paymentContext{
  width: 300px;
  margin-bottom: 0;
}
.amount{
  width: 100px;
  margin-bottom: 0;
}
.checkbox{
  margin-left: 3%;
  margin-right: 3%;
}
.item-final{
  height: 70px;
  min-height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.item-1{
  margin-right: 4%
}
.item-2{
  margin-left: 4%;
}

@media(max-width: 1000px){
  #accountings{
    margin-bottom: 25%;
  }
  .container{
    background-color: #A683E3;
  }
   .box {
     width: 90%;
    max-width: 675px;
    height: 50px;
    padding: 4px;
    margin: 60px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  .less-pad{
    margin: 30px auto;
    padding-top: 7px;
  }
  .acc-padding{
    padding-left: 15%;
    padding-right: 15%;
  }
  .acc-box{
    width: 100%;
    height: 50px;
    padding-top: 7px;
  }

  #heading {

    background-color: white;
    text-align: center;
    font-family: 'helvetica neue';
    color: #0062E6;
  }

  .item {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    background-color: white;
  }

  form.item {
    text-align: center;
    margin-left: 20px;
  }

  .acc-btn {
    margin-left: 1px;
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #0062E6;
    color: #fff;
    font-size: 20px;
    padding-bottom: 6px;
    border-width: 0;
  }

  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 17px;
    font-weight: 200;
    width:80%;
    margin-right: 5px;
    margin-left: 5px;
  }
  input[placeholder="Username"]{
    margin-left: 3px;
    width: 50%;
    font-size: 17px;

  }
  input[placeholder="Amount"]{
    margin-right: 5px;
    width: 50%;
    font-size: 17px;
  }
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  .username{
    font-size: 15px;
    width: 80px;
    margin-bottom: 0;
  }
  .paymentContext{
    width: 300px;
    font-size: 15px;
    margin-bottom: 0;
  }
  .amount{
    font-size: 15px;
    width: 70px;
    margin-bottom: 0;
  }
  .checkbox{
    margin-left: 3%;
    margin-right: 3%;
  }
  .item-final{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    background-color: white;
  }
  .item-1{
    margin-right: 0;
  }
  .item-2{
    margin-left: 0;
  }
  .head{
    font-size: 1.6rem;
  }
}
