body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

#navbar{
  font-family: 'Roboto', sans-serif;
}

.nav-img{
  border-radius: 50%;
}

.navbar-header{
  margin-left:5px;
  width:100%;
}
.btn-outline-primary{
  color: #212529;
}
.btn0{
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 576px) {
  .nav-item{
    margin-top: 10px;
  }
}
@media (min-width: 992px) {
  .nav-item{
    margin-right: 10px;
  }
 }
